<div class="form-group">
    <input type="street" 
           class="form-control" 
           id="autocomplete" 
           placeholder="Street">
    
    <input type="city" 
           class="form-control" 
           id="inputCity" 
           placeholder="City">
    
    <input type="state" 
           class="form-control" 
           id="inputState" 
           placeholder="State">
    
    <input type="zip" 
           class="form-control" 
           id="inputZip" 
           placeholder="Zip">
    
    <input type="county" 
           class="form-control" 
           id="inputNearByShowRoom" 
           placeholder="Near By Show Room Location">
    
    <input type="country" 
           class="form-control" 
           id="inputCountry" 
           placeholder="Country">

           <button class="btn btn-danger btn-sm" (click)="func()" > Submit </button>

  </div>
  