

    <div class="container">
      <div class="row g-4">
        <div class="col-lg-4 col-md-6" *ngFor="let ac of bikes">
          <mat-card class="manufacturer-card">
            <div class="logo-wrapper">
              <a [routerLink]="[ac.link]">
                <img [src]="ac.logo" [alt]="ac.alt" class="brand-logo">
              </a>
            </div>
            <mat-card-actions align="end">
              <a [routerLink]="[ac.link]" class="view-all-btn btn-primary">
                View all <mat-icon>arrow_forward</mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>





























