

    <div class="container">
        <div class="row">
            <ng-container *ngFor="let ac of bikes">

            <div class="card col-md-3">
                <a routerLink="{{ac.link}}"><img src="{{ac.logo}}" alt="{{ac.alt}}" class="img-fluid"></a>
                                    
                        <!-- <button class="btn btn-danger btn-sm">Book Now</button> -->
                        
                        <button class="btn btn-danger btn-sm"><a routerLink="{{ac.link}}">View all <i class="bi bi-arrow-right"></i></a></button>
                                        

            </div>
        </ng-container>
        </div>
    </div>





























